{% extends 'base.html' %}

{% block content %}


<main class="container">
	<div class="col-md-12">
		<section class="col-md-4 offset-md-1 mt-1">
		<span><a href="/cliente/create/" class="btn btn-secondary btn-sm offset-md-2"> Crear Cliente</a></span>
		</section>
	<section class="col-md-4 offset-md-8 mt-1 mb-1">
	<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
	method="POST">
	  {% csrf_token %}
	  <div class="input-group">
		<input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
		<div class="input-group-append">
		  <button class="btn btn-dark" type="submit">
			<i class="bi bi-search"> Buscar</i>
		  </button>
		</div>
	  </div>
	</form>
	</section>
		<div class="table-responsive">
			<table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
				<thead>
					<tr>
						<td><strong>#</strong> </td>
						<td><strong>Ip del cliente</strong> </td>
						<td><strong>Cedula</strong></td>
						<td><strong>Nombre</strong></td>
						<td><strong>Apellido</strong></td>
						<td><strong>Primer Telefono</strong></td>
						<td><strong>Mensualidad</strong></td>
						<td><strong>Fecha de Instalacion</strong></td>
						<td><strong>Municipio</strong></td>
						<td><strong>Pueblo</strong></td>
						<td><strong>Estado</strong></td>
						<td><strong>Direccion</strong></td>
						<td><strong>Vereda</strong></td>
						<td><strong>Descripcion</strong></td>
						<td><strong>Editar</strong></td>
						<td><strong>Pagos</strong></td>
						<td><strong>Eliminar</strong></td>

					</tr>
				</thead>
			
				<tbody>
					{% for cliente in Clientes %}

					<tr {% if cliente.status == 'arriba' %} class="success" {% elif cliente.status == 'abajo' %} class="danger" {% endif %}>
						<td>{{cliente.id}}</td>
						<td>{{cliente.ip}}</td>
						<td>{{cliente.cedula}}</td>
						<td>{{cliente.nombre}}</td>
						<td>{{cliente.apellido}}</td>
						<td>{{cliente.telefono_uno}}</td>
						<td>{{cliente.mensualidad}}</td>
						<td>{{cliente.fecha_instalacion}}</td>	
						<td>{{cliente.id_Municipio}}</td>
						<td>{{cliente.id_Pueblo}}</td>
						<td>{{cliente.id_Estado}}</td>
						<td>{{cliente.direccion}}</td>
						<td>{{cliente.vereda}}</td>
						<td>{{cliente.descripcion}}</td>

						<td><a href="{% url 'editar_Cliente' cliente.id %}"class="btn btn-secondary btn-sm mt-1">Editar</a></td>
						<td><a href="{% url 'more_Cliente' cliente.id %}" class="btn btn-secondary btn-sm mt-1">Pagos</a></td>
						<td><a href="{% url 'eliminar_Cliente' cliente.id %}" class="btn btn-danger btnEliminacion btn-sm mt-1">Eliminar</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<div>
				{% include 'CRUD/paginator.html' %}
			</div>
		</div>
	</div>
</main>
{% endblock content %}
{% block extra_js %}


<script>

$(document).ready(function() {
    $('#query').on('keyup', function() {
      $('form').submit();
    });
  });

</script>

  {% endblock extra_js %}