{% extends 'base.html' %}

{% block content %}

<main class="container">
	<div class="row">
		<div class="col-md-3 offset-md mt-2 pd-2">
			<table class="table table_bordered" >
				<thead>
					<tr>
						<td><strong>#</strong> </td>
						<td><strong>Ip del cliente</strong> </td>	
						<td><strong>Nombre</strong></td>
						<td><strong>Valor del Pago</strong></td>
						<td><strong>Fecha del pago</strong></td>
						<td><strong>Valido Hasta</strong></td>
						

					</tr>
				</thead>
			
				<tbody>
					{% for cliente in datos %}
			
					<tr>
						<td>{{cliente.id}}</td>
						<td>{{cliente.ip}}</td>
						
						<td>{{cliente.nombre}}</td>
						
						<td>{{cliente.valor_Pago}}</td>
						<td>{{cliente.fecha_Pago}}</td>
						<td>{{cliente.valido}}</td>
					</tr>
					{% endfor %}
			
				</tbody>
			</table>
		</div>
	</div>
</main>

	


{% endblock content %}