{% extends 'base.html' %}

{% block content %}


<section>
    <div>
        <a href="/municipio/create/" class="btn btn-secondary btn-sm offset-md-2 mt-4"> Crear Municipio</a>
    </div>
</section>

<main class="container">
    <div class="row mb-2">
        <div class="col-sm-4 offset-md-4 mt-5">
            <table  align="right" class="table table_bordered">
                <thead>
                    <tr>
                        <td><strong>#</strong> </td>
                        <td><strong>Municipio</strong> </td>
                        <td><strong>Opciones</strong> </td>


                    </tr>
                </thead>

                <tbody>
                    {% for municipio in municipios %}

                    <tr>
                        <td>{{municipio.id}}</td>
                        <td>{{municipio.nombre}}</td>

                        <td><a href="{% url 'editar_Municipio' municipio.id %}"
                                class="btn btn-secondary btn-sm mt-1">Editar</a>
                            <a href="{% url 'eliminar_Municipio' municipio.id %}"
                                class="btn btn-danger btn-sm mt-1">Eliminar</a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
<div class="col-sm-4 offset-md-4 mt-5">
<button>
    <a class="btn btn-secondary btn-sm" href="/cliente/">Volver</a>
</button>
</div>


{% endblock content %}