<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Aplicacion web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/logo1.png' %}" alt="Logo" width="85" height="50" class="d-inline-block align-text-top">
              </a>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                      {% if user.is_authenticated %}
                      <li class="nav-item">
                        <a class="nav-link" href="/cliente"><i class="bi bi-person-check"></i>Clientes</a>
                      </li> 
                      <li class="nav-item">
                        <a class="nav-link" href="/municipio"><i class="bi bi-house"></i>Municipios</a>
                      </li> 
                      <li class="nav-item">
                        <a class="nav-link" href="/residencia"><i class="bi bi-geo-alt"></i>Residencia</a>
                      </li> 
                      <li class="nav-item">
                        <a class="nav-link" href="/estado"><i class="bi bi-bookmark-check"></i>Estados</a>
                      </li> 

                      <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="bi bi-door-closed"></i>Cerrar Sesión</a>
                      </li>

                      {% else %}
                      <li class="nav-item">
                        <a class="nav-link" href="/signup"><i class="bi bi-plus-square"></i>Registrarse</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/login"><i class="bi bi-box-arrow-in-right"></i>Ingresar</a>
                      </li>
                    </ul>
                    {% endif %}
                  </div>
                </div>
              </nav>

    {% block content %}
    {% endblock %}

</body>

</html>