<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Aplicacion web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Conexxion</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/task">Tareas </a></li>
            </ul>
                <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="/logout">Cerrar Sesion</a>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesion</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>