{% extends 'base.html' %}

{% load static %}

{% block content %}


    
        <div class="content">
            <div>
                <div class="row">
                    <div class="col-lg-12 mt-5">
                      {% block body %}
                        <div class="col-md-12 prueba">
                            <div class="card bg-secondary">
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0 text-light text-center">
                                        <h1 class="text-light">Hola {{ user.username }} Bienvenido</h1>
                                        
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                      {% endblock body %}
                </div>
            </div>
        </div>

            <div class="text-center">
                <div class="col-lg-12 mt-5"></div>
                
                {% if user.is_authenticated %}
                <a class="btn btn-dark" href="/registrar_usuario/">Registrar</a>
                <a class="btn btn-dark" href="/cliente/">Clientes</a>
                {% else %}
                <a class="btn btn-dark" href="/login/">Ingresar</a>
                {% endif %}
                </div>
            </div>




{% endblock %}