{% extends 'base.html' %}


{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center"> Pagina Principal</h1>
        
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae eius eum obcaecati, accusantium,
            facilis quia sapiente assumenda excepturi voluptates dignissimos magnam natus libero fugiat possimus veniam?
            Alias officiis, dolorem quos non laboriosam cumque, est ea laborum impedit temporibus aliquam vel eligendi
            ab ipsum?
            Est, nesciunt veritatis pariatur aut illum enim ipsam possimus odit saepe eaque. Explicabo veniam aperiam
            dolorem
            non
            quaerat exercitationem quis deleniti a! Magni dignissimos obcaecati mollitia eaque laborum. Optio illum
            provident,
            veritatis et veniam quam consequuntur sunt expedita vel quae laborum est voluptate quaerat reprehenderit?
            Minus excepturi non numquam eaque iure facilis fugit, odit alias dolores autem?</p>

            <div class="text-center">
                
                <a class="btn btn-dark" href="/registrar_usuario/">Registrarse</a>
                {% if user.is_authenticated %}
                <a class="btn btn-dark" href="/cliente/">Clientes</a>
                {% else %}
                <a class="btn btn-dark" href="/login/">Ingresar</a>
                {% endif %}
                
            </div>


    </section>

</main>
{% endblock %}