{% extends 'base.html' %}


{% block content %}

<div class="row">
    <div class="card_body">
        <h2>Editar Producto</h2>
        <hr>
        <form action="" method="post">

            {% csrf_token %}
            {{form}}
        
        <br>
        <div class="d-flex justify-content-end">
            <input type="reset" value="Cancelar" class="btn btn-secondary">
            &nbsp;
            <input type="submit" value="Editar" class="btn btn-primary">
        </div>
        
    </form>

    </div>


</div>

{% endblock %}