{% extends 'base.html' %}

{% block content %}
	<div class="row">

		{% for cliente in Clientes %}

		<div class="col-lg-2">
			<div class="box-element product">
					<h4><strong>Ip del cliente:</strong> {{cliente.ip}}</h4>
					<h4><strong> Nombre:</strong>  {{cliente.nombre}}</h4>
					<h4><strong> Primer Telefono: </strong>{{cliente.telefono_uno}}</h4>
					<h4><strong> Mensualidad: </strong> {{cliente.mensualidad}}</h4>
					<h4><strong> Fecha de Instalacion: </strong> {{cliente.fecha_Instalacion}}</h4>
				</a>
			</div>
		</div>

		{% endfor %}
	</div>

{%  endblock %}