{% extends 'base.html' %}

{% block content %}

<section class="col-md-4 offset-md-4 mt-4">
	
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
method="POST">
  {% csrf_token %}
  <div class="input-group">
    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
    <div class="input-group-append">
      <button class="btn btn-dark" type="submit">
        <i class="fas fa-search fa-sm"> Buscar</i>
      </button>
    </div>
  </div>
  
</form>
</section>


<main class="container">
	<div class="row">
		<div class="col-md-4 offset-md-2 mt-4">
			<table class="table table_bordered">
				<thead>
					<tr>
						<td><strong>#</strong> </td>
						<td><strong>Ip del cliente</strong> </td>
						<td><strong>Cedula</strong></td>
						<td><strong>Nombre</strong></td>
						<td><strong>Apellido</strong></td>
						<td><strong>Primer Telefono</strong></td>
						<td><strong>Mensualidad</strong></td>
						<td><strong>Fecha de Instalacion</strong></td>
						<td><strong>Municipio</strong></td>
						<td><strong>Estado</strong></td>
						<td><strong>Opciones</strong></td>
						<!-- <td><strong>Pueblo</strong></td>
						<td><strong>Direccion</strong></td>
						<td><strong>Vereda</strong></td>
						<td><strong>Descripcion</strong></td>
						 -->
			
					</tr>
				</thead>
			
				<tbody>
					{% for cliente in Clientes %}
			
					<tr>
						<td>{{cliente.id}}</td>
						<td>{{cliente.ip}}</td>
						<td>{{cliente.cedula}}</td>
						<td>{{cliente.nombre}}</td>
						<td>{{cliente.apellido}}</td>
						<td>{{cliente.telefono_uno}}</td>
						<td>{{cliente.mensualidad}}</td>
						<td>{{cliente.fecha_Instalacion}}</td>
						<td>{{cliente.id_Municipio}}</td>
						<td>{{cliente.id_Estado}}</td>
						<td><a href="{% url 'editar_Cliente' cliente.id %}" class="btn btn-secondary btn-sm">Editar</a>
							<a href="{% url 'eliminar_Cliente' cliente.id %}" class="btn btn-danger btn-sm">Eliminar</a></td>
						
					
					
			
			
					</tr>
					{% endfor %}

		</div>
	</div>
</main>
		<!-- <tbody>
			{% for lugar_Residencia in Residencia %}
			<tr>
				<td> {{lugar_Residencia.pueblo}}</td>
				<td> {{lugar_Residencia.direccion}}</td>
				<td> {{lugar_Residencia.vereda}}</td>
				<td> {{lugar_Residencia.descripcion}}</td>
	
			</tr>
			{% endfor %}
		</tbody> -->
	</tbody>
</table>

<section>
<div>
	<a href="/cliente/create/" class="btn btn-secondary btn-sm"> Crear Cliente</a>
</div>

</section>

{% endblock content %}