{% extends 'base.html' %}

{% block content %}

<section class="col-md-4 offset-md-4 mt-4">
	
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
method="POST">
  {% csrf_token %}
  <div class="input-group">
    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
    <div class="input-group-append">
      <button class="btn btn-dark" type="submit">
        <i class="fas fa-search fa-sm"> Buscar</i>
      </button>
    </div>
  </div>
  
</form>
</section>

<section>
	<div>
		<a href="/cliente/create/" class="btn btn-secondary btn-sm offset-md-2"> Crear Cliente</a>
	</div>
	<div>
		<a href="/municipio/" class="btn btn-secondary btn-sm offset-md-2 mt-1"> Ver los Municipio</a>
	</div>
	<div>
		<a href="/estado/" class="btn btn-secondary btn-sm offset-md-2 mt-1"> Ver los Estados</a>
	</div>
	<div>
		<a href="/residencia/" class="btn btn-secondary btn-sm offset-md-2 mt-1"> Ver los Lugares de Residencia</a>
	</div>
	
	</section>


<main class="container">
	<div class="row">
		<div class="col-md-3 offset-md mt-5">
			<table class="table table_bordered">
				<thead>
					<tr>
						<td><strong>#</strong> </td>
						<td><strong>Ip del cliente</strong> </td>
						<td><strong>Cedula</strong></td>
						<td><strong>Nombre</strong></td>
						<td><strong>Apellido</strong></td>
						<td><strong>Primer Telefono</strong></td>
						<td><strong>Mensualidad</strong></td>
						<td><strong>Fecha de Instalacion</strong></td>
						<td><strong>Valor del Pago</strong></td>
						<td><strong>Fecha del pago</strong></td>
						<td><strong>Valido Hasta</strong></td>
						<td><strong >Municipio</strong></td>
						<td><strong>Estado</strong></td>
						<td><strong>Lugar de Residencia</strong></td>
						<td><strong>Opciones</strong></td>

					</tr>
				</thead>
			
				<tbody>
					{% for cliente in Clientes %}
			
					<tr>
						<td>{{cliente.id}}</td>
						<td>{{cliente.ip}}</td>
						<td>{{cliente.cedula}}</td>
						<td>{{cliente.nombre}}</td>
						<td>{{cliente.apellido}}</td>
						<td>{{cliente.telefono_uno}}</td>
						<td>{{cliente.mensualidad}}</td>
						<td>{{cliente.fecha_Instalacion}}</td>
						<td>{{cliente.valor_Pago}}</td>
						<td>{{cliente.fecha_Pago}}</td>
						<td>{{cliente.valido}}</td>
						<td>{{cliente.id_Municipio}}</td>
						<td>{{cliente.id_Estado}}</td>
						<td>{{cliente.id_lugar_Residencia.pueblo}}</td>
						<td><a href="{% url 'editar_Cliente' cliente.id %}" class="btn btn-secondary btn-sm mt-1">Editar</a>
							<a href="{% url 'eliminar_Cliente' cliente.id %}" class="btn btn-danger btn-sm mt-1">Eliminar</a></td>
						
					</tr>
					{% endfor %}
				</tbody>
		</div>
	</div>
</main>
	
</table>


{% endblock content %}